* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 0;
}

/* CONTENT ---------- */
header {
    min-height: 60px;
    font-size: 14px;
    background-color: rgb(28, 126, 253);
}

nav li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

button {
    width: 70px;
    padding: 0.5em;
    border-style: none;
    border-radius: 20px;
}

#table .col-tall {
    min-height: 500px;
}

#table .col {
    flex-direction: row;
    padding: 0;
}

#foot {
    min-height: 50px;
    padding: 1em 0 0;
}

#foot .container {
    padding-bottom: 0;
}

.logo {
    width: 100px;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 35px;
    padding: 0 0.5em;
}

.align-end {
    align-items: end;
}

.col-tall {
    min-height: 700px;
}

.col-large {
    flex-grow: 2;
    text-align: center;
}

.text-right {
    text-align: right;
}

.section {
    padding: 2.5em;
    min-height: 300px;
}

.box {
    width: 75%;
    min-height: 275px;
    margin: 0 auto;
}

.flex, .flex-reverse {
    min-height: 300px;
}

.flex .col, .flex-reverse .col {
    min-height: 350px;
    flex-grow: 1;
}

.flex .col-large, .flex-reverse .col-large {
    min-height: 350px;
    flex-grow: 2;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.foot-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.foot-col {
    padding: 0.2em;
}

.font-white {
    color: white;
}

.bor-black {
    border: 2px dashed black;
}

.bor-white {
    border: 2px dashed white;
}

.bg-orange {
    background-color: rgb(255, 176, 29);
}

.bg-blue {
    background-color: rgb(0, 0, 134);
}

.bg-purple {
    background-color: rgb(206, 102, 215);
}

.bg-lightblue {
    background-color: rgb(0, 110, 255);
}

.bg-rose {
    background-color: rgb(255, 195, 195);
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-green {
    background-color: green;
}

.bg-black {
    background-color: rgb(35, 35, 35);
}

.bg-darkrose {
    background-color: rgb(248, 157, 157);
}

.bg-darkaqua {
    background-color: rgb(79, 197, 181);
}

.bg-aqua {
    background-color: aquamarine;
}